# Path where neon will read/write MEI files from.
MEI_DIRECTORY = ""

# The absolute path to where this app will sit on a server. e.g. "/" or "/neon"
APP_ROOT = "/"

# Tornado server debug
DEBUG = True

# Neon debug
DEBUG_NEON = True

def get_prefix():
    return APP_ROOT.rstrip("/")

def get_neonHtmlFileName():
    if DEBUG_NEON:
        return "neon_devel.html"
    else:
        return "neon.html"
