<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MEIx.js | Editing</title>

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="meix/css/meiEditor.css" />
        <link rel="stylesheet" href="diva/css/diva.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script src="meix/js/lib/require.js"></script>
        <script src="meix/js/local/meiEditorPreloader.js"></script>
        <script src="diva/js/diva.min.js"></script>

        <style>
         [id$="-listitem"] {visibility:hidden} #newTabButton {display:none}   /* don't want to display the file name or close the file */
         [id="1-diva-zoom-buttons-label"] {display:none!important}
         [id="1-diva-tools"] {margin-top:0;padding-top:10px;border-radius:0;background-color:#222;height:52px}   /* like a navbar */
         [id="1-diva-tools-right"] {display:none}               /* only one page */
         [id="1-diva-outer"] {position:absolute;top:52px;bottom:0;left:0;right:0;height:initial} /* occupy half screen */
         .navbar {border-radius:0}
         #dropdown-zone-display {display:none}  /* hide zone display menus */
         #zone-display-help {display:none}      /* hide zone display menus */
        </style>

        <script>
         $(document).ready(function() {
           $('#diva-wrapper').diva({
             adaptivePadding: 0,
             enableAutoTitle: false,
             enableAutoHeight: false,
             enableAutoWidth: false,
             enableCanvas: false,
             enableDownload: false,
             enableFullscreen: false,
             enableGridIcon: false,
             enableHighlight: true,
             fixedHeightGrid: false,
             iipServerURL: "{{ diva_iip_server | safe }}",
             objectData: "{{ diva_object_data | safe }}",
             imageDir: "{{ diva_image_dir | safe }}",
             enableHighlight: true,
             viewerWidthPadding: 0,
             viewerHeightPadding: 0
           });

           var divaInstance = $('#diva-wrapper').data('diva');

           var settings =
           {
             'skipFileUpload': true,
             'skipXMLValidator': true,
             'meiEditorLocation': 'meix/',
             //'validatorLink': 'meix/validation/',
             //'xmllintLocation': 'meix/js/lib/xmllint.js',
             //'xmllintServer': 'http://132.206.14.122:8008',
             'pageTitle': 'MEIx.js',
             'initializeWithFile': '{{ MEI | safe }}',
             'divaInstance': $('#diva-wrapper').data('diva'),
             'jsonFileLocation': '{{ diva_object_data | safe }}',
             'oneToOneMEI': true
           };
           var plugins = ['meix/js/local/plugins/meiEditorZoneDisplay.js']//, 'js/meiEditor'];

           var meiEditor = new MeiEditor('#mei-editor', settings, plugins);

           $(window).on('meiEditorLoaded', function(){
             meiEditor = $("#mei-editor").data("AceMeiEditor");

             // add the save changes button
             var $pagesList = $('#pagesList');
             var $my_saveButton = $('<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-selected="false" style="float:right"><a href="#" class="ui-tabs-anchor" role="presentation" tabindex="-1">Save Changes</a></li>');
             var $my_discardButton = $('<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-selected="false" style="float:right"><a href="#" class="ui-tabs-anchor" role="presentation" tabindex="-1">Discard Changes</a></li>');
             $pagesList.append($my_saveButton);
             $pagesList.append($my_discardButton);
             $my_saveButton.on('mouseenter', function () {
               $my_saveButton.addClass('ui-state-hover');
             });
             $my_saveButton.on('mouseleave', function () {
               $my_saveButton.removeClass('ui-state-hover');
             });
             $my_saveButton.on('mousedown', function () {
               $my_saveButton.addClass('ui-state-active');
             });
             $my_saveButton.on('mouseup', function () {
               $my_saveButton.removeClass('ui-state-active');
             });
             $my_saveButton.hide();
             $my_discardButton.on('mouseenter', function () {
               $my_discardButton.addClass('ui-state-hover');
             });
             $my_discardButton.on('mouseleave', function () {
               $my_discardButton.removeClass('ui-state-hover');
             });
             $my_discardButton.on('mousedown', function () {
               $my_discardButton.addClass('ui-state-active');
             });
             $my_discardButton.on('mouseup', function () {
               $my_discardButton.removeClass('ui-state-active');
             });
             $my_discardButton.hide();
             $rodanCommands = $("#rodan-commands");

             var title = meiEditor.getActivePageTitle();

             var aceEditor = meiEditor.getPageData(title);   // the filename
             aceEditor.on("change", function() {
               $my_saveButton.show();
               $my_discardButton.show();
               $rodanCommands.attr("disabled", true);
             });

             $my_saveButton.on('click', function() {
               var new_content = meiEditor.getAllTexts()[title].join('\n');
               $.ajax({
                 type: "POST",
                 url: './update_content',
                 data: {'new_content': new_content},
                 headers: {
                   'Accept': 'application/json'
                 }
               }).done(function () {
                 $my_saveButton.hide();
                 $my_discardButton.hide();
                 $rodanCommands.attr('disabled', false);
                 meiEditor.localLog("Saved.")
               }).fail(function(msg) {
                 var errmsg_lines = msg.responseJSON.detail.split('\n');
                 $.each(errmsg_lines, function (index, line) {
                   meiEditor.localError(line);
                 });
               });
             });
             $my_discardButton.on('click', function() {
               location.reload();
             });

             $("#control-hide-staves-div").show();
             $('#control-hide-staves').change(function () {
               if ($(this).is(":checked")) {
                 meiEditor.addMEIIgnore('sb');
               } else {
                 meiEditor.removeMEIIgnore('sb');
               }
             });

           });

           $('#switch-to-neon').click(function (e) {
             $.post('./use_neon', {}, function (data) {
               location.reload();
             });
           });

         });
        </script>

    </head>
    <body>
        <div id="mei-editor" style="width:50%;display:inline-block"></div>
        <div id="diva-wrapper" style="width:50%;position:absolute;left:50%;top:0;bottom:0;right:0;display:block;padding:0;margin:0"></div>
        <div style="position:absolute;left:60%;top:7px;color:#999;display:none" class="checkbox" id="control-hide-staves-div">
          <label>
            <input type="checkbox" id="control-hide-staves">Hide staves
          </label>
        </div>
        <button id="rodan-commands" class="btn btn-default" data-toggle="modal" data-target="#rodanModal" style="position: absolute;right:10px;top:9px">Rodan Commands</button>

        <!-- Rodan Commands Modal -->
        <div class="modal fade" id="rodanModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rodan Commands</h4>
              </div>
              <div class="modal-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Command</th>
                      <th>Description</th>
                    </tr>
                    <tbody>
                      <tr>
                        <th>Switch to Neon.js</th>
                        <td>Continue the correction with Neon.js square note editor.</td>
                      </tr>
                      <tr>
                        <th>Save</th>
                        <td>Save the working MEI file and go back to Rodan.</td>
                      </tr>
                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <a href="#" id="save-to-rodan" class="btn btn-primary">Save</a>
                <a href="#" id="switch-to-neon" class="btn btn-default">Switch to Neon.js</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
