<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MEIx.js | Editing</title>

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="meix/css/meiEditor.css" />
        <link rel="stylesheet" href="diva/css/diva.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script src="meix/js/lib/require.js"></script>
        <script src="meix/js/local/meiEditorPreloader.js"></script>
        <script src="diva/js/diva.min.js"></script>

        <style>
         #newTabButton, #imagemei-listitem {visibility:hidden}   /* don't want to display the file name or close the file */
         [id="1-diva-zoom-buttons-label"] {display:none!important}
         [id="1-diva-tools"] {margin-top:0;padding-top:10px;border-radius:0;background-color:#222;height:52px}   /* like a navbar */
         [id="1-diva-tools-right"] {display:none}               /* only one page */
         [id="1-diva-outer"] {position:absolute;top:52px;bottom:0;left:0;right:0;height:initial} /* occupy half screen */
         .navbar {border-radius:0}
        </style>

        <script>
         $(document).ready(function() {
           $('#diva-wrapper').diva({
             adaptivePadding: 0,
             enableAutoTitle: false,
             enableAutoHeight: false,
             enableAutoWidth: false,
             enableCanvas: false,
             enableDownload: false,
             enableFullscreen: false,
             enableGridIcon: false,
             fixedHeightGrid: false,
             iipServerURL: "{{diva_iip_server}}",
             objectData: "{{diva_object_data}}",
             imageDir: "{{diva_image_dir}}",
             enableHighlight: true,
             viewerWidthPadding: 0,
             viewerHeightPadding: 0
           });

           var settings =
           {
             'skipFileUpload': true,
             'skipXMLValidator': true,
             'meiEditorLocation': 'meix/',
             //'validatorLink': 'meix/validation/',
             //'xmllintLocation': 'meix/js/lib/xmllint.js',
             //'xmllintServer': 'http://132.206.14.122:8008',
             'pageTitle': 'MEIx.js',
             'initializeWithFile': '{{MEI}}',
             'divaInstance': $('#diva-wrapper').data('diva'),
             'jsonFileLocation': '{{diva_object_data}}',
             'oneToOneMEI': true
           };
           var plugins = ['meix/js/local/plugins/meiEditorZoneDisplay.js'];

           var meiEditor = new MeiEditor('#mei-editor', settings, plugins);
           window.setTimeout(function() {
             $("#topbarContent").append('<li><a href="?mode=neon">Go to Neon.js</a></li>')
           }, 10);
           $(window).on('meiEditorLoaded', function(){

           });
        });
        </script>

    </head>
    <body>
        <div id="mei-editor" style="width:50%;display:inline-block"></div>
        <div id="diva-wrapper" style="width:50%;position:absolute;left:50%;top:0;bottom:0;right:0;display:block;padding:0;margin:0"></div>
        <button class="btn btn-default" data-toggle="modal" data-target="#rodanModal" style="position: absolute;right:10px;top:9px">Rodan Commands</button>

        <!-- Rodan Commands Modal -->
        <div class="modal fade" id="rodanModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rodan Commands</h4>
              </div>
              <div class="modal-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Command</th>
                      <th>Description</th>
                    </tr>
                    <tbody>
                      <tr>
                        <th>Switch to Neon.js</th>
                        <td>Continue the correction with Neon.js square note editor.</td>
                      </tr>
                      <tr>
                        <th>Save</th>
                        <td>Save the working MEI file and go back to Rodan.</td>
                      </tr>
                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <a href="#" id="save-to-rodan" class="btn btn-primary">Save</a>
                <a href="?mode=neon" class="btn btn-default">Switch to Neon.js</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
