<!DOCTYPE html>
<html>
<head>
  <title>Neon.js | Editing</title>

    
    <link rel="stylesheet" href='css/bootstrap.min.css' />
    <link rel="stylesheet" href='css/bootstrap-responsive.min.css' />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!-- [if lt IE 9]> -->
         <!-- <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> -->
    <!-- <![endif] -->

    <link rel="stylesheet" href='css/neon.css' />

    <!-- EXTERNALS -->
    <script src="js/support/jquery.min.js"></script>
    <script src="js/support/jquery.ddslick.min.js"></script>
    <script src="js/support/mousetrap.min.js"></script>
    <script src="js/support/bootstrap.min.js"></script>
    <script src="js/support/fabric.1.10.0.js"></script>
    <script src="js/support/searchtree.min.js"></script>

    <script src="js/src/neon.js"></script>
    <script src="js/src/toe.js"></script>
    <script src="js/src/models/glyph.js"></script>
    <script src="js/src/views/renderengine.js"></script>

    <!-- MVC -->
    <script src="js/src/controllers/controller.js"></script>
    <script src="js/src/models/model.js"></script>
    <script src="js/src/views/view.js"></script>
    <!-- PAGE -->
    <script src="js/src/models/page.js"></script>
    <script src="js/src/nn/squarenote/squarenotepage.js"></script>
    <script src="js/src/nn/cheironomic/cheironomicpage.js"></script>
    <script src="js/src/controllers/pagecontroller.js"></script>
    <script src="js/src/views/pageview.js"></script>
    <!-- STAFF -->
    <script src="js/src/models/system.js"></script>
    <script src="js/src/nn/squarenote/squarenotesystem.js"></script>
    <script src="js/src/nn/cheironomic/cheironomicsystem.js"></script>
    <script src="js/src/controllers/systemcontroller.js"></script>
    <script src="js/src/views/systemview.js"></script>
    <!-- CLEF -->
    <script src="js/src/models/clef.js"></script>
    <script src="js/src/controllers/clefcontroller.js"></script>
    <script src="js/src/views/clefview.js"></script>
	<!--DIVISIONS-->
	<script src="js/src/nn/squarenote/division.js"></script>
    <script src="js/src/nn/squarenote/divisioncontroller.js"></script>
    <script src="js/src/nn/squarenote/divisionview.js"></script>
    <!--CUSTOS-->
	  <script src="js/src/nn/squarenote/custos.js"></script>
    <script src="js/src/nn/squarenote/custoscontroller.js"></script>
    <script src="js/src/nn/squarenote/custosview.js"></script>
    <!-- NEUME -->
    <script src="js/src/nn/nc.js"></script>
    <script src="js/src/nn/squarenote/squarenotenc.js"></script>
    <script src="js/src/nn/cheironomic/cheironomicnc.js"></script>
    <script src="js/src/nn/squarenote/liberneumes.js"></script>
    <script src="js/src/nn/squarenote/salzinneneumes.js"></script>
    <script src="js/src/nn/cheironomic/hartkerneumes.js"></script>
    <script src="js/src/nn/neume.js"></script>
    <script src="js/src/nn/squarenote/squarenoteneume.js"></script>
    <script src="js/src/nn/cheironomic/cheironomicneume.js"></script>
    <script src="js/src/nn/neumecontroller.js"></script>
    <script src="js/src/nn/neumeview.js"></script>
	<script src="js/src/models/ornament.js"></script>
    <!-- GUI -->
    <script src="js/src/views/gui.js"></script>
    <script src="js/src/nn/interaction.js"></script>
    <script src="js/src/nn/cheironomic/cheironomicinteraction.js"></script>
    <script src="js/src/nn/squarenote/squarenoteinteraction.js"></script>

    <script type="text/javascript">
    var TEMP_meipath = "{{ MEI }}";
    var TEMP_bgimgpath = "{{ background_img }}";

    $(document).ready(function() {
        var self_url = location.href.split('#')[0];
        console.log(self_url);
        // derive background image name from mei
        $('#neon-wrapper').neon({
          debug: false,
          glyphpath: self_url + "img/neumes_concat.svg",
          meipath: "{{ MEI }}",
          bgimgpath: "{{ background_img }}",
          bgimgopacity: 0.0,
          apiprefix: self_url.slice(0, -1),   //remove trailing '/'
          documentType: "liber",
          width: 1000 // enforce width
        });

    });
    </script>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Neon.js</a>
      <div class="nav-collapse">
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
                <ul id="nav_file_dropdown" class="dropdown-menu">
                </ul> 
           </li>
          <!-- <li><a href="#" id="save-to-rodan">Save</a></li> -->
        </ul>
        <p class="navbar-text pull-right"><a href="#hotkeysModal" data-toggle="modal">Hotkey Glossary</a> | <a href="https://github.com/DDMAL/Neon.js/wiki" data-toggle="modal">Help</a> | <a href="#developersModal" data-toggle="modal">Developers</a> | <a href="http://ddmal.music.mcgill.ca/">DDMAL</a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- Developers Information Modal -->
<div class="modal fade" id="developersModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
    <h3>Developers</h3>
  </div>
  <div class="modal-body">
    <p>Gregory Burlet</p>
    <p>Alastair Porter</p>
    <p>Andrew Tran</p>
    <p>Zoé Mclennen</p>
    <hr/>
    <p>View <a href="http://github.com/ddmal/neon.js">source code</a></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<!-- Hotkeys Information Modal -->
<div class="modal fade" id="hotkeysModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4>Hotkey Glossary</h4>
    </div>
    <div class="modal-body">
        <p>Insert Mode: <kbd data-default="Q">Q</kbd></p>
        <p>Edit Mode: <kbd data-default="E">E</kbd></p>
        <P>Switch Mode: <kbd data-default="tab">Tab</kbd></P>
        <p>Quick Transparancy: <kbd data-default="H">H</kbd></p>
        <hr/>
        <h3>Insert mode hotkeys:</h3>
        <p>Neume Insert: <kbd data-default="N">N</kbd></p>
        <p>Division Insert: <kbd data-default="D">D</kbd></p>
        <p>System Insert: <kbd data-default="S">S</kbd></p>
        <p>Clef Insert: <kbd data-default="C">C</kbd></p>
        <hr/>
        <h3>Edit mode hotkeys:</h3>
        <p>Delete: <kbd data-default="Del">delete</kbd></p>
        <p>Quick Group: <kbd data-default="G">G</kbd></p>
        <p>Ungroup: <kbd data-default="U">U</kbd></p>
        <p>Staff Lock Toggle: <kbd data-default="L">L</kbd>
        <p>Select All: <kbd data-default="Ctrl+A">⌘A</kbd>
        <p>Canvas Refresh: <kbd data-default="Ctrl+R">⌘R</kbd></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span12">
                    <div class="sidebar-nav-fixed">
                        <div class="sidebar-inner">
                            <h1>Editing {{page}}</h1>
                        </div>
                        <div class="sidebar-inner">
                            <div id="neon-sidebar-nav" class="well">
                                <ul id="gui-sidebar" class="nav nav-list">
                                <li class="nav-header">Mode</li>
                                <li>
                                    <div class="btn-group" data-toggle="buttons-radio">
                                        <button id="btn_insert" class="btn btn-primary"><i class="icon-plus icon-white"></i> Insert</button>
                                        <button id="btn_edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</button>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-inner">
                            <div id="info" class="alert alert-block">
                                <button id="closeinfo" class="close">&times;</button>
                                <h4 class="alert-heading">Information</h4>
                                <p>message</p>
                            </div>
                        </div>
                        <div class="sidebar-nav">
                            <div id="alert" class="alert alert-block alert-error fade">
                                <button id="closealert" class="close">&times;</button>
                                <h4 class="alert-heading">Oh snap! An error occured!</h4>
                                <p>message</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9 span-fixed-sidebar">
            <div id="neon-wrapper"></div>
        </div>
  </div>

  <hr>

  <div class="row-fluid">
      <div class="span12">
          <footer>
              <p>&copy; 2012 McGill University | Schulich School of Music | DDMAL</p>
          </footer>
      </div>
  </div>

</div><!--/.fluid-container-->

</body>
</html>
