<!DOCTYPE html>
<html>
<head>
  <title>Neon.js | Editing {{page}}</title>

    <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet">
    <link href="{{static_url("css/bootstrap-responsive.min.css")}}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{static_url("css/neon.css")}}" type="text/css" />

    <!-- EXTERNALS -->
    <script src="{{static_url("js/support/jquery.min.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/support/mousetrap.min.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/support/bootstrap.min.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/support/fabric.1.10.0.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/support/searchtree.min.js")}}" type="text/javascript"></script>

    <script src="{{static_url("js/src/neon.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/toe.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/models/glyph.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/views/renderengine.js")}}" type="text/javascript"></script>

    <!-- MVC -->
    <script src="{{static_url("js/src/controllers/controller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/models/model.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/views/view.js")}}" type="text/javascript"></script>
    <!-- PAGE -->
    <script src="{{static_url("js/src/models/page.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/squarenotepage.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/cheironomic/cheironomicpage.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/controllers/pagecontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/views/pageview.js")}}" type="text/javascript"></script>
    <!-- STAFF -->
    <script src="{{static_url("js/src/models/system.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/squarenotesystem.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/cheironomic/cheironomicsystem.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/controllers/systemcontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/views/systemview.js")}}" type="text/javascript"></script>
    <!-- CLEF -->
    <script src="{{static_url("js/src/models/clef.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/controllers/clefcontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/views/clefview.js")}}" type="text/javascript"></script>
	  <!--DIVISIONS-->
	  <script src="{{static_url("js/src/nn/squarenote/division.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/divisioncontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/divisionview.js")}}" type="text/javascript"></script>
    <!--CUSTOS-->
	  <script src="{{static_url("js/src/nn/squarenote/custos.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/custoscontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/custosview.js")}}" type="text/javascript"></script>
    <!-- NEUME -->
    <script src="{{static_url("js/src/nn/nc.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/squarenotenc.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/cheironomic/cheironomicnc.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/liberneumes.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/salzinneneumes.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/cheironomic/hartkerneumes.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/neume.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/squarenoteneume.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/cheironomic/cheironomicneume.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/neumecontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/neumeview.js")}}" type="text/javascript"></script>
	  <script src="{{static_url("js/src/models/ornament.js")}}" type="text/javascript"></script>
    <!-- GUI -->
    <script src="{{static_url("js/src/views/gui.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/interaction.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/cheironomic/cheironomicinteraction.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/src/nn/squarenote/squarenoteinteraction.js")}}" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // derive background image name from mei
        $('#neon-wrapper').neon({
          debug: {{debug}},
          glyphpath: "{{static_url("img/neumes_concat.svg")}}",
          meipath: "{{prefix}}/file/squarenote/{{page}}.mei",
          bgimgpath: "{{prefix}}/file/squarenote/" + "{{page}}".replace(/\.[^/.]+$/, "") + ".jpg",
          bgimgopacity: 0.0,
          apiprefix: "{{prefix}}/edit/squarenote/{{page}}",
          documentType: "liber",
          width: 1000 // enforce width
        });
    });
    </script>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Neon.js</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
            <ul id="nav_file_dropdown" class="dropdown-menu">
            </ul>
          </li>
        </ul>
        <p class="navbar-text pull-right"><a href="#hotkeysModal" data-toggle="modal">Hotkey Glossary</a> | <a href="https://github.com/DDMAL/Neon.js/wiki" data-toggle="modal">Help</a> | <a href="#developersModal" data-toggle="modal">Developers</a> | <a href="http://ddmal.music.mcgill.ca/">DDMAL</a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- Developers Information Modal -->
<div class="modal fade" id="developersModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
    <h3>Developers</h3>
  </div>
  <div class="modal-body">
    <p>Gregory Burlet</p>
    <p>Alastair Porter</p>
    <hr/>
    <p>View <a href="http://github.com/ddmal/neon.js">source code</a></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<!-- Hotkeys Information Modal -->
<div class="modal fade" id="hotkeysModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4>Hotkey Glossary</h4>
    </div>
    <div class="modal-body">
        <p>Insert Mode: <kbd data-default="I">I</kbd></p>
        <p>Edit Mode: <kbd data-default="E">E</kbd></p>
        <p>Quick Transparancy: <kbd data-default="H">H</kbd></p>
        <hr/>
        <h3>Insert mode hotkeys:</h3>
        <p>Neume Insert: <kbd data-default="N">N</kbd></p>
        <p>Division Insert: <kbd data-default="D">D</kbd></p>
        <p>System Insert: <kbd data-default="S">S</kbd></p>
        <p>Clef Insert: <kbd data-default="C">C</kbd></p>
        <hr/>
        <h3>Edit mode hotkeys:</h3>
        <p>Delete: <kbd data-default="Del">delete</kbd></p>
        <p>Ungroup: <kbd data-default="U">U</kbd></p>
        <p>Select All: <kbd data-default="Ctrl+A">⌘A</kbd>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span12">
                    <div class="sidebar-nav-fixed">
                        <div class="sidebar-inner">
                            <h1>Editing {{page}}</h1>
                        </div>
                        <div class="sidebar-inner">
                            <div id="neon-sidebar-nav" class="well">
                                <ul id="gui-sidebar" class="nav nav-list">
                                <li class="nav-header">Mode</li>
                                <li>
                                    <div class="btn-group" data-toggle="buttons-radio">
                                        <button id="btn_insert" class="btn btn-primary"><i class="icon-plus icon-white"></i> Insert</button>
                                        <button id="btn_edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</button>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-inner">
                            <div id="info" class="alert alert-block">
                                <button id="closeinfo" class="close">&times;</button>
                                <h4 class="alert-heading">Information</h4>
                                <p>message</p>
                            </div>
                        </div>
                        <div class="sidebar-nav">
                            <div id="alert" class="alert alert-block alert-error fade">
                                <button id="closealert" class="close">&times;</button>
                                <h4 class="alert-heading">Oh snap! An error occured!</h4>
                                <p>message</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9 span-fixed-sidebar">
            <div id="neon-wrapper"></div>
        </div>
  </div>

  <hr>

  <div class="row-fluid">
      <div class="span12">
          <footer>
              <p>&copy; 2012 McGill University | Schulich School of Music | DDMAL</p>
          </footer>
      </div>
  </div>

</div><!--/.fluid-container-->

</body>
</html>
