<!DOCTYPE html>
<html>
<head>
  <title>Editing {{page}}</title>
    <link rel="stylesheet" href="{{static_url("css/jquery-ui.css")}}" type="text/css" />
    <link rel="stylesheet" href="{{static_url("css/neon.css")}}" type="text/css" />
    <script src="{{static_url("js/jquery.min.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/jquery-ui.min.js")}}" type="text/javascript"></script>

    <script src="{{static_url("js/neon.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/fabric_all.min.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/toe.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/glyph.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/renderengine.js")}}" type="text/javascript"></script>
    <!-- PAGE -->
    <script src="{{static_url("js/page.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/pagecontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/pageview.js")}}" type="text/javascript"></script>
    <!-- STAFF -->
    <script src="{{static_url("js/staff.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/staffcontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/staffview.js")}}" type="text/javascript"></script>
    <!-- CLEF -->
    <script src="{{static_url("js/clef.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/clefcontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/clefview.js")}}" type="text/javascript"></script>
    <!-- NEUME -->
    <script src="{{static_url("js/neume.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/neumecontroller.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/neumeview.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/nc.js")}}" type="text/javascript"></script>
	<script src="{{static_url("js/ornament.js")}}" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // derive background image name from mei
        $('#neon-wrapper').neon({
          autoLoad: true,
          debug: {{debug}},
          prefix: "{{prefix}}",
          filename: "{{page}}",
          backgroundImage: "{{page}}".replace(/\.[^/.]+$/, "") + ".jpg",
          backgroundImageOpacity: 0.0
        });
    });

    // GUI elements
    // note: uses jQuery UI
    $(function() {
        $("#ui_bgImgOpacity").slider({
            min: 0.0,
            max: 1.0,
            step: 0.05,
            value: 0.0
        });
    });
    </script>
</head>
<body>
  <h1>Editing {{page}}</h1>
    <div id="gui">
        <table>
            <tr>
                <th><label>Background Image Opacity:</label></th>
                <td><div id="ui_bgImgOpacity" style="width: 500px; margin: 10px"></div></td>
            </tr>
        </table>
    </div>
    <div id="neon-wrapper">
    </div>
</body>
</html>
