<!DOCTYPE html>
<html>
<head>
  <title>Editing {{page}}</title>
    <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/ui-lightness/jquery-ui.css" type="text/css" />-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" type="text/javascript"></script>-->

    <script src="{{prefix}}{{static_url("js/toe.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/neume.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/nc.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/glyph.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/renderengine.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/page.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/clef.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/staff.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/neon.js")}}" type="text/javascript"></script>
    <script src="{{prefix}}{{static_url("js/fabric_all.min.js")}}" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // derive background image name from mei
        $('#neon-wrapper').neon({
          autoLoad: true,
          debug: true,
          prefix: "{{prefix}}",
          filename: "{{page}}",
          backgroundImage: "{{page}}".replace(/\.[^/.]+$/, "") + ".jpg",
          backgroundImageOpacity: 0.65
        });
    });
    </script>
</head>
<body>
  <h1>Editing {{page}}</h1>
    <div id="neon-wrapper">
    </div>
</body>
</html>
