<!DOCTYPE html>
<html>
<head>
  <title>Neon.js | Editing</title>

  <link rel="stylesheet" href='css/bootstrap.min.css' />
  <link rel="stylesheet" href='css/bootstrap-responsive.min.css' />

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href='css/neon.css' />

  <!-- EXTERNALS -->
  <script src="js/support/jquery.min.js"></script>
  <script src="js/support/bootstrap.min.js"></script>
  <script src="js/support/fabric.min.js"></script>
  <script src="js/support/mousetrap.min.js"></script>
  <script src="js/neon.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
     var self_url = location.href.split('#')[0];
     // derive background image name from mei
     $('#neon-wrapper').neon({
       debug: false,
       glyphpath: self_url + "img/neumes_concat.svg",
       meipath: "{{ MEI | safe }}",
       bgimgpath: "{{ background_img | safe }}",
       bgimgopacity: 0.0,
       apiprefix: self_url.slice(0, -1),    // remove trailing '/'
       documentType: "liber",
       width: 1000 // enforce width
     });

     $('#save-to-rodan').click(function (e) {
       $.post(self_url + 'save', {}, function (data) {
         window.close();    // return to rodan
       });
     });
     $('#switch-to-meix').click(function (e) {
       $.post(self_url + 'use_meix', {}, function (data) {
         location.reload();
       });
     });

     // During Ajax, tell user we are synchronizing
     var isSynchronizing = false;
     var $rodanCommands = $('#rodan_commands');
     var $synchronizing = $('#synchronizing');
     $(document).ajaxStart(function () {
       $rodanCommands.attr('disabled', true);
       $synchronizing.show();
       isSynchronizing = true;
     });
     $(document).ajaxStop(function () {
       $rodanCommands.attr('disabled', false);
       $synchronizing.hide();
       isSynchronizing = false;
     });
     $(window).on('beforeunload', function (e) {
       if (isSynchronizing) {
         return "Neon.js is synchronizing with the server."; // return prompt message
       } else {
         return;
       }
     });
   });
  </script>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">Neon.js</a>
      <div class="nav-collapse">
        <ul class="nav">
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
            <ul id="nav_file_dropdown" class="dropdown-menu">
            </ul>
          </li>-->
        </ul>
        <p class="navbar-text pull-right"><a href="#rodanModal" data-toggle="modal" class="btn btn-default" id="rodan_commands">Rodan Commands</a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- Rodan Commands Modal -->
<div class="modal fade" id="rodanModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Rodan Commands</h3>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Command</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Switch to Meix.js</th>
          <td>Continue the correction with Meix.js editor.</td>
        </tr>
        <tr>
          <th>Save</th>
          <td>Save the working MEI file and go back to Rodan.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" id="save-to-rodan" class="btn btn-primary">Save</a>
    <a href="#" id="switch-to-meix" class="btn">Switch to MEIx.js</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid">
                <div class="span12">
                    <div class="sidebar-nav-fixed">
                        <div class="sidebar-inner">
                            <h1>Editing<img src="img/loading.gif" style="padding-left:20px;display:none" id="synchronizing" /></h1>
                        </div>
                        <div class="sidebar-inner">
                            <div id="neon-sidebar-nav" class="well">
                                <ul id="gui-sidebar" class="nav nav-list">
                                  <li class="nav-header">Mode</li>
                                  <li>
                                    <div class="btn-group" data-toggle="buttons-radio">
                                      <button id="btn_insert" class="btn btn-primary"><i class="icon-plus icon-white"></i> Insert</button>
                                      <button id="btn_edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</button>
                                    </div>
                                  </li>
                                </ul>
                                <ul class="nav nav-list">
                                  <li class="divider"></li>
                                  <li class="nav-header">Update</li>
                                  <li>
                                    <button class="btn" id="btn_update_all_custodes">All custodes</button>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-inner">
                            <div id="info" class="alert alert-block fade">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <h4 class="alert-heading">Information</h4>
                                <p>message</p>
                            </div>
                        </div>
                        <div class="sidebar-inner">
                            <div id="headsUp" class="alert alert-block alert-info fade">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <h4 class="alert-heading">Notice</h4>
                                <p>message</p>
                            </div>
                        </div>
                        <div class="sidebar-nav">
                            <div id="alert" class="alert alert-block alert-error fade">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <h4 class="alert-heading">Oh snap! An error occured!</h4>
                                <p>message</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9 span-fixed-sidebar">
            <div id="neon-wrapper"></div>
        </div>
  </div>

  <hr>

  <div class="row-fluid">
      <div class="span12">
          <footer>
              <p>&copy; 2012 McGill University | Schulich School of Music | DDMAL</p>
          </footer>
      </div>
  </div>

</div><!--/.fluid-container-->

</body>
</html>
